* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  width: 100%;
  height: 100%;

  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}
.maindivbox {
  width: 100%;
  height: 100%;
  background: url(../images/sativa.png) repeat fixed; float:left;
}
.login {
  position: relative;
  top: 44%;
  width: 290px;
  display: table;
  margin: -150px auto 0 auto;transition-property: transform;
  transition-duration: 1.5s;
  transition-timing-function: linear;
  -moz-transition-property: transform;
  -moz-transition-duration: 1.5s;
  -moz-transition-timing-function: linear;
   -o-transition-property: transform;
  -o-transition-duration: 1.5s;
  -o-transition-timing-function: linear;
     -webkit-transition-property: transform;
  -webkit-transition-duration: 1.5s;
  -webkit-transition-timing-function: linear;
  background: #fff;
  border-radius: 4px;
}
.legend {
  position: relative;
  width: 100%;
  display: block;
  background: #FF7052;
  padding: 15px;margin: 0 0 5px 0;
  color: #fff;
  font-size: 20px;
}
.legend:after {
  content: "";
  background-image: ;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 152px -16px;
  opacity: 0.06;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.input {
  position: relative; float:left;
  width: 90%;
  margin: 15px 5%;
  transition-property:transform;
  transition-duration: 1.5s;
  transition-timing-function: linear;
    -moz-transition-property: transform;
  -moz-transition-duration: 1.5s;
  -moz-transition-timing-function: linear;
   -o-transition-property: transform;
  -o-transition-duration: 1.5s;
  -o-transition-timing-function: linear;
     -webkit-transition-property: transform;
  -webkit-transition-duration: 1.5s;
  -webkit-transition-timing-function: linear;
}
.animate {
  background-color: red;
  transform: translateY(50px);
  -moz-transform: translateY(50px);
 -webkit-transform: translateY(50px);
}
.input span {
  position: absolute;
  display: block;
  color: #d4d4d4;
  left: 10px;
  top: 8px;
  font-size: 20px;
}
.input input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: #a1a1a1;
}
.input input:focus {
  padding: 10px 0px 10px 10px;
  outline: 0;
  border-color: #FF7052;
}

.submit {
  width: 45px;
  height: 45px;
  float:left;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #FF7052;
  color: #FF7052;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
   -moz-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
}

.submit2 {
  width: 45px;
  height: 45px;
  float:right;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #FF7052;
  color: #FF7052;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
   -moz-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
}

.logo_app{top: 28px;
position: absolute;
right: 11px; z-index:20;
float: right;
border: 3px solid #fff;}

.submit:hover,
.submit:focus {
  background: #FF7052;
  color: #fff;
  outline: 0;
}
#lblErr{padding: 6px 5px 0px 13px;}

.titleconti{width:100%; float:left;}
.loginspan {width: 100%;line-height: 21px; 
padding: 0 5px;
/*float: left;*/
text-align: center;}
.loginspan2 {width: 100%;line-height: 21px; float:left;
padding: 0 5px;
/*float: left;*/
text-align: center;}
.submit2:hover,
.submit2:focus {
  background: #FF7052;
  color: #fff;
  outline: 0;
}
.feedback {
  position: absolute;
  bottom: -70px;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #24c1e3;
  padding: 10px 0;
  font-size: 12px;
  display: none;
  opacity: 0;
}
.feedback:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(46, 204, 113, 0);
  border-bottom-color: #24c1e3 ;
  border-width: 10px;
  margin-left: -10px;
}


/*dashboard*/


.imger {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 150px;
}
   .form-vertival { display: block;
    margin: 0 auto;
    text-align: center;
    width: 250px;}
    .form-vertival td:first-child{  padding: 5px 0;vertical-align:top;
    text-align: right;
    width: 138px;}
    .navbar{margin-bottom:0px!important;}
    .form-vertival td:last-child{ text-align:left; padding:5px; vertical-align:top;}
    .clor_prof{ background-color:#56B3E1; padding:10px;}
    .navbar-brand {
    float: left;
    font-size: 18px;
    height: 30px!important;
    line-height: 12px!important;
    padding: 12px 14px!important;
}
.navbar-brand img{width: 61px;
position: relative;
top: -11px;
right: 0px;
}
    .left_img{ float:right;text-align:right;}
     .left_img img{ width:29%; margin:2%}
      .left_img img:hover{ width:28%; margin:2%; opacity:0.9}
     .full_with{ width:100%;}
a:focus {
    outline: none;
}

   .custum_b i{ margin-right:8px; margin-top:1px;}           
.custum_b {
	-moz-box-shadow: 0px 14px 11px -7px #276873;
	-webkit-box-shadow: 0px 14px 11px -7px #276873;
	box-shadow: 0px 14px 11px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px; width:100%; text-align:left;
	padding:5px 16px; line-height:33px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a; margin :8px 0;
}
.clear_both{ clear:both; width:100%; float:left;}
.custum_b:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.custum_b:active {
	position:relative;
	top:1px;
}

.logout{ margin-top: 5px;
	
	background-color:#2dabf9;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:3px solid #f5e9f5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:4px 7px;
	text-decoration:none;
	text-shadow:0 1px 0 #fcfcfc;
}
.logout:hover {
	background-color:#0688fa;
}
.control-label{font-weight:normal!important;}
.logout:active {
	position:relative;
	top:1px;
}

.menu_login > li { list-style:none;
    float: left;
}
.submenu_login li{text-align:left; list-style:none; border-bottom:1px solid #d4d4d4; padding:8px 15px;}
.menu_login button {
    border: 0;
   
    cursor: pointer;
}
.submenu_login a:hover{text-decoration:none!important}
.submenu_login li:hover{ background-color:#e8e5e5;}
.menu_login button:hover,
.menu_login button:focus {
    outline: 0;
    text-decoration: underline;
}
.submenu_login a i { margin-right:5px;
}

.submenu_login {
    display: none;
    position: absolute; z-index:50;
    padding: 0; right:5px;margin-top: 5px; background-color:#fff;border:1px solid #d4d4d4; border-top:none!important;
}
.menu_login button:focus + .submenu_login,
.submenu_login:hover {
    display: block;
}
.submenu_login::after{
position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}
.submenu_login::before{    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,0.2);
    content: '';
}
/*dashboard ends*/


/*SUBNIT*/

.butsub {
	-moz-box-shadow:inset 0px 0px 15px 3px #23395e;
	-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
	background-color:#2e466e;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	
	font-size:16px;
padding:9px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.butsub:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
	background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);	border:1px solid #1f2f47;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
	background-color:#415989;color:#ffffff;
}
input[type="button"]{  outline:none;}input[type="button"]::-moz-focus-inner {
   border: 0;
}*:focus {
    outline: 0 !important;
}
.butsub:active {
	position:relative;color:#ffffff;border:none;
	top:1px;outline:none;
}
.butsub:focus{outline:none;color:#ffffff; border:none;}



.butsave {
	-moz-box-shadow:inset 0px 0px 15px 3px #fff6af;
	-webkit-box-shadow:inset 0px 0px 15px 3px #fff6af;
	box-shadow:inset 0px 0px 15px 3px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:16px;
	padding:9px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.butsave:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.butsave:active {
	position:relative;
	top:1px;
}


.butcan {
	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f74242), color-stop(1, #e10808));
	background:-moz-linear-gradient(top, #f74242 5%, #e10808 100%);
	background:-webkit-linear-gradient(top, #f74242 5%, #e10808 100%);
	background:-o-linear-gradient(top, #f74242 5%, #e10808 100%);
	background:-ms-linear-gradient(top, #f74242 5%, #e10808 100%);
	background:linear-gradient(to bottom, #f74242 5%, #e10808 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#f74242;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #e10808;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	
	font-size:16px;
	padding:9px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f74242;
}
.butcan:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e10808), color-stop(1, #f74242));
	background:-moz-linear-gradient(top, #e10808 5%, #f74242 100%);
	background:-webkit-linear-gradient(top, #e10808 5%, #f74242 100%);
	background:-o-linear-gradient(top, #e10808 5%, #f74242 100%);
	background:-ms-linear-gradient(top, #e10808 5%, #f74242 100%);
	background:linear-gradient(to bottom, #e10808 5%, #f74242 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#e10808;color:#fff;
}
.butcan:active {
	position:relative;color:#ffffff;
	top:1px;
}
.butcan:focus{outline:none;color:#ffffff; border:none;}

 .caher{background-color: #599bb3;
margin: 0 0 2px 0 !important;
padding: 4px 0;
color: white;}
     .testr2{padding-top: 7px;
    text-align: left;}
    .testr3 {
        padding-top: 7px;
        text-align: right; font-weight:normal;
    }.form-group {
    margin-bottom: 7px!important;
}
@media screen and (max-width: 760px) {
    .testr3 {
    padding-top: 7px;
    text-align: left;
}
}

@media screen and (max-width: 480px) {
    .loginspan {
    font-size: 17px !important;
    width: 129px !important;
    float: left;
    position: relative;
}
}
.btn { padding: 6px 6px; font-weight: bold;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.btn-lg { padding: 15px 65px; font-size: 14px; font-weight:bold; }

.btn-cess{     background-color: #f8ac23;
    padding: 3px 8px;
    color: #fff;
    font-weight: normal;}
.fronwith12{width:114%!important;}
.btn-cess:hover,
	.btn-cess:focus { color:#fff; background: ; }
	.btn-cess:active {	background:; }

    .btnDelete{
   /*background:url(../img/delete.gif);*/
   background:url(../images/delete.jpg);
   width:15px;
   height:13px;
   display:block;
   margin-top:3px;
   text-indent:99999px;
   border:0px;
   background-size:cover;
}
   .form-group #tblAddItem{ border:1px solid #ffab23!important; margin:3%; width:93%!important}